select {
    --color: #999999;
    --colorHover: #111111;
    --backgroundColor: white;
    --backgroundColorHover: white;
}

.selectRoot {
    display: inline-block;
    padding-bottom: 1.4rem;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

select {
    margin: 0;
    padding: 0.7rem;
    display: block;
    color: var(--colorHover);
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--color);
    cursor: pointer;
    font-size: 1rem;
    transition: all ease-in 200ms;
}

select:focus, select:hover {
    outline-width: 0;
    outline: none;
    border-color: var(--colorHover);
    background-color: var(--backgroundColorHover);
}

select[disabled] {
    color: gray;
    border-color: lightgray;
    cursor: default;
}

.selectError {
    position: absolute;
    margin-top: 0.2rem;
    color: red;
    font-size: 0.9rem;
}

.selectRequired {
    color: red;
}

.selectLabel {
    margin-bottom: 0.3rem;
    display: inline-block;
    color: var(--color);
}

.selectLabelDisabled {
    color: gray;
}
